*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  padding: 1rem;
  background-color: white;
  height: 100vh;
  text-align: center;
}

.UsersTable, th, tr, td {
  border: 0.1rem solid rgb(0, 0, 0, 60%) ;
}

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TableHeaderText {
  cursor: pointer;
}